body{
    background-color: #F9F4E8;
    position: relative;
    padding-bottom: 8em;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer{

    padding: 1em 0;
    text-align: center;
    padding-top: 10%;
    position: absolute;
    bottom: 0;
    width: 100%;

}
