.bigcontainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    justify-content: space-around;
    box-sizing: border-box;
    
}
.left{
    width: 70%;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center; 
    box-sizing: border-box;
    padding-left: 8em;
    
}
.right{
    width: 45%;
    max-width: 1000px;
    min-width: 900x;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center; 
    box-sizing: border-box;
    padding-right: 7em;
    
    
}

body 
{
    position: relative;
    padding-bottom: 8em;
} 

footer{

    padding: 1em 0;
    text-align: center;
    padding-top: 10%;
    position: absolute;
    bottom: 0;
    width: 100%;

}

.texto1
{
    padding: 3em;
}


@media screen and (max-with:1000px){
    
.bigcontainer
{
    background-color: aqua;
}
}  