body 
{
    position: relative;
    padding-bottom: 8em;
} 

footer{

    padding: 1em 0;
    text-align: center;
    padding-top: 10%;
    position: absolute;
    bottom: 0;
    width: 100%;

}